body {
  margin-top: .5giem;
  background-color: black;
  display: flex;
  justify-content: center;
  font-family:  'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Prompt', sans-serif;
}


.red{
  background-color: green;
  height: 12em;
  width: 12em;
}

.image-class{
  height: 12em;
  width: 12em;

}

.board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:42em;
  height:42em;
  justify-items: center;
  border-width: 1em;
  border-radius: 1em;
  border-color: aliceblue;
  border-style: groove;
}

.tile-container
{
  height: 12em;
  width: 12em;
  border-color: black;
  border-style: solid;
  border-width: 1em;
}


.title
{
  font-size: 2rem;
  text-align: center;
  color: aliceblue;
}
.title:hover
{
  color:yellow;

}

.title-font
{
  margin: 0;
}
.game-play
{
  color:aliceblue;
  text-align: center;
}
.ending
  {
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }

  /* Standard syntax */
  @keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
  body {
    margin-top: 2em;
    background-color: black;
    display: flex;
    justify-content: center;
    font-family:  'Prompt', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family:  'Prompt', sans-serif;
  }


  .red{
    background-color: green;
    height: 6em;
    width: 6em;
  }

  .image-class{
    height: 6em;
    width: 6em;

  }

  .board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:21em;
    height:21em;
    justify-items: center;
  }

  .tile-container
  {
    height: 6em;
    width: 6em;
    perspective: 1000px;
    border-color: black;
    border-style: solid;
    border-width: .5em;

  }
  .title
  {
    font-size: 1rem;
    text-align: center;
    color: aliceblue;
  }
  .title:hover
  {
    color:yellow;

  }

  .title-font
  {
    margin: 0;
  }
  .game-play
  {
    color:aliceblue;
    text-align: center;
  }
  .ending
  {
    font-size: 1rem;
    text-align: center;
    color: aliceblue;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }

  /* Standard syntax */
  @keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }
}
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body {
      margin-top: 2em;
      background-color: black;
      display: flex;
      justify-content: center;
      font-family:  'Prompt', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    code {
      font-family:  'Prompt', sans-serif;
    }

    .red{
      background-color: green;
      height: 9em;
      width: 9em;
    }

    .image-class{
      height: 9em;
      width: 9em;

    }

    .board{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width:33em;
      height:33em;
      justify-items: center;

    }

    .tile-container
    {
      height: 9em;
      width: 9em;
      border-color: black;
      border-style: solid;
      border-width: 1em;
    }


    .title
    {
      font-size: rem;
      text-align: center;
      color: aliceblue;
    }
    .title:hover
    {
      color:yellow;

    }

    .title-font
    {
      margin: 0;
    }
    .game-play
    {
      color:aliceblue;
      text-align: center;
    }
    .ending
  {
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }

  /* Standard syntax */
  @keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:200px; top:0px;}
    50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;}
  }
    }
