body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red{
  background-color: red;
  width:10em;
  height:10em;

  border-color: black;
  border-style: double;

}

.image-class{
  width: 10em;
  height:10em;
  border-color: black;
  border-style: double;
}

.board{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:33em;
  height:33em;
  justify-items: center;

}
